<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" [routerLink]="['/']">
            <i class="fas fa-users"></i>
              </a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/faculty']">Faculty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/lab']">Lab</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/whours']">Whours</a>
    </li>
  </ul>
</nav>
