<div class="row mt-2">

  <!-- Add faculty form -->
  <div class="col-sm-2">

  </div>

  <!-- Logic to search and display -->
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="searchStr" (keyup.enter)="getSearchResult()">
    </div>

    <div *ngIf="searchFaculty.length>0">
      <table class="table table-hover">

        <thead class="thead-dark">
          <tr>

            <th>EmpNo</th>
            <th>Name</th>
            <th>Qualification</th>
            <th>Dept</th>

          </tr>
        </thead>
        <tr *ngFor="let f of searchFaculty" class="bg-warning">
          <td>{{f.empno}}</td>
          <td>{{f.ename}}</td>
          <td>{{f.qualification}}</td>
          <td>{{f.dname}}</td>

        </tr>
      </table>
    </div>
  </div>

  <!-- Charts -->
  <div class="col-sm-4">

    <google-chart [data]="pieChart"></google-chart>
  </div>

</div>
